# Application Environment (Development/Production)
NODE_ENV="development"

# The Public Base URL of your Next.js application
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Target PostgreSQL Database URL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/bailsonfire?schema=public"

# The Secret key for NextAuth JWT Encryption
AUTH_SECRET="your_custom_random_secret_string"

# Google Gemini API token for our cron job
GEMINI_API_KEY="your_actual_api_key_from_google"
AUTH_GOOGLE_ID='Your google Id'

AUTH_GOOGLE_SECRET= 'google auth secret'

RESEND_API_KEY="some resend key"